/*

Grafisk profil

    Typsnitt:
        Rubriker: Opens Sand Extra Bold
        Underrubriker: Tillium Web Semi Bold
        Brödtext (Ljus på mörk): Tillium Web Ligth
        Brödtext (Mörk på ljus): Tillium Web Regular

        All text: Spärrning +30
    
    Färger:
        Magenta: #dd0890
        Ultraviolet: #4b0082

        Turkos: #0de1ec
        Ultramarin: #200c9c

        Granitgrå: #f0f0f0
        Kolgrå: #222222

*/

body {
    letter-spacing: 0.03em;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    background-color: #f0f0f0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

.sub-header {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
}

.card {
    width: 344px;
}

