/*

Grafisk profil

    Typsnitt:
        Rubriker: Opens Sand Extra Bold
        Underrubriker: Tillium Web Semi Bold
        Brödtext (Ljus på mörk): Tillium Web Ligth
        Brödtext (Mörk på ljus): Tillium Web Regular

        All text: Spärrning +30
    
    Färger:
        Magenta: #dd0890
        Ultraviolet: #4b0082

        Turkos: #0de1ec
        Ultramarin: #200c9c
        
        Granitgrå: #f0f0f0
        Kolgrå: #222222

*/