/*

Grafisk profil

    Typsnitt:
        Rubriker: Opens Sand Extra Bold (800)
        Underrubriker: Tillium Web Semi Bold (600)
        Brödtext (Ljus på mörk): Tillium Web Ligth (300)
        Brödtext (Mörk på ljus): Tillium Web Regular (400)

        All text: Spärrning +30 (letter-spacing: 0.03em)
    
    Färger:
        Magenta: #dd0890
        Ultraviolet: #4b0082

        Turkos: #0de1ec
        Ultramarin: #200c9c

        Granitgrå: #f0f0f0
        Kolgrå: #222222

*/


/* TYPOGRAFI OCH FÄRGER */

body {
    letter-spacing: 0.03em;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    background-color: #f0f0f0;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0.03em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

.sub-header {
    letter-spacing: 0.03em;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
}

.clickable {
    cursor: pointer;
}

/* HEADER OCH NAVBAR */
header {
    height: 20vh;
    color: #ffffff;
    background-image: url("img/ntig_lila_bollar.png");
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 10vw;
    padding-right: 10vw;
}

nav > button {
    margin: 10px;
    min-width: 100px;
    background-color: #dd0890;
    /* background-image: linear-gradient(to right, #dd0890 , #4b0082); */
    background-image: url("img/ntig_lila_bollar.png");
    background-size: 100vw;
    border: none !important;
    color: #ffffff !important;
    font-weight: 500 !important;
    letter-spacing: 0.03em !important;
}

nav > button:nth-child(1) {
    background-position: 30% 60%;
}

nav > button:nth-child(2) {
    background-position: 35% 65%;
}

nav > button:nth-child(3) {
    background-position: 40% 60%;
}

nav > button:nth-child(4) {
    background-position: 45% 65%;
}

nav > button:nth-child(5) {
    background-position: 50% 60%;
}

nav > button:nth-child(6) {
    background-position: 55% 65%;
}

nav > button:nth-child(7) {
    background-position: 60% 60%;
}

nav > button:nth-child(8) {
    background-position: 65% 65%;
}

nav > button:nth-child(9) {
    background-position: 70% 60%;
}

nav > button:nth-child(10) {
    background-position: 75% 65%;
}



/*  KORT */

.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: auto; 
    margin-bottom: auto;
    margin-bottom: 5vh;
}


.card {
    width: 100%;
    margin: 5px;
    transition: transform .9s;
    transform: scale(0);
    display: none;
    flex-direction: column;
    box-shadow: 0 .125rem .25rem rgba(0,0,0, .075);
}

@media screen and (min-width: 768px) {
    .card {
      width:338px;
    }
    .card-deck {
        width: 720px;
    }
  }

@media screen and (min-width: 992px) {
    .card {
      width:302px;
    }
    .card-deck {
        width: 960px;
    }
  }

@media screen and (min-width: 1200px) {
    .card {
      width:269px;
    }
    .card-deck {
        width: 1140px;
    }
  }

  @media screen and (min-width: 1400px) {
    .card {
      width:245px;
    }
    .card-deck {
        width: 1320px;
    }
  }

.card-magenta {
    background-color: #dd0890;
    color:#ffffff;
}

.card-ultraviolet {
    background-color: #4b0082;
    color:#ffffff;
}

.card-magenta > .card-body, .card-ultraviolet > .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.card-footer {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.student > .card-footer {
    background-color: #dd0890;
    color:  #dd0890;
}

.student > .card-footer > a {
    background-color: #ffffff;
    color:  #dd0890;
}

.project > .card-footer {
    background-color: #4b0082;
    color: #4b0082;
}

.project > .card-footer > a {
    background-color: #ffffff;
    color: #4b0082;
}

.card-footer > span, .card-footer > a {
    margin:2px;
}



/* FOOTER */

footer {
    height: 20vh;
    padding-top: 4vh;
    background-color: #222222;
    color: #ffffff;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

footer > section.left {
    width: 30vw;
    height: 12vh;
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-right: #ffffff solid 2px;
}

footer > section.right {
    width: 30vw;
    height: 12vh;
    padding-left: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
}

footer > section > img {
    height: 5vh;
}